#app {
    width: 100%;
    height: 800px;
    background-color: aliceblue;
}

.container
{
    text-align: center;
}

/*Start your code from here */
#myCarousel{
    background-color: firebrick;
}
#myCarousel img {
height: 300px;
margin-top: 35px;
}